extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg The reset token is sent to your email. 
      h3.heading-secondary Please check your email
      


          