extends base

block content
  main.main
    .login-form
      #token(data-token=`${token}`) 
      h2.heading-secondary.ma-bt-lg Reset your account
      form.form.form--reset
        .form__group
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password') confirm Password
          input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button#resetPassword.btn.btn--green Reset



          